<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="carrito">
        <p>Carrito</p>
        <span class="carrito__num"></span>
    </div>

    <h1 class="producto__nombre">{{producto.nombre}}</h1>
    <img class="producto__imagen" src="{{producto.imagen}}" alt="">
    <p class="producto__precio">{{producto.precio}}</p>
    
    <div>

        <button class="producto-detalle__carrito">Agregar al carrito</button>
    </div>

    <script src="/scripts/tienda.js"></script>


</body>
</html>