<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
</head>
<body>

    <h1>Tienda</h1>

    <h2>Filtros</h2>
    <ul>
        <li><a href="/tienda/Diseño">Diseño</a></li>
        <li><a href="/tienda/Arquitectura">Arquitectura</a></li>
    </ul>

    <ul>
        {{#each productos}}
            <li>
                <img src="{{imagen}}" width="200px">
                <h3>{{nombre}}</h3>
                <p>{{precio}}</p>
                <p>{{categoria}}</p>
            </li>
        {{/each}}
    </ul>
    
</body>
</html>