<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
</head>
<body>

    <h1>Tienda</h1>

    <h2>Filtros</h2>
    <ul>
        <li><a href="/tienda/Diseño">Diseño</a></li>
        <li><a href="/tienda/Arquitectura">Arquitectura</a></li>
    </ul>

    {{#if esDiseno}}
        <label>Ingresa el rango de precio</label>
        <input class="input-rango" type="range" min="10000" max="30000">
    {{/if}}

    {{#if esArquitectura}}
        Categoría Arquitectura
    {{/if}}

    <ul>
        {{#each productos}}
            <li>
                <img src="{{imagen}}" width="200px">
                <h3>{{nombre}}</h3>
                <p>{{precio}}</p>
                <p>{{categoria}}</p>
            </li>
        {{/each}}
    </ul>

    <script>
        var rango = document.querySelector('.input-rango');
        function buscarPorPrecio(){
            console.log(rango.value);
        }
        rango.addEventListener('change', buscarPorPrecio);
    </script>
    
</body>
</html>